html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

#divBodyContainer {
  padding: 20px;
  flex-grow: 1;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-header,
.custom -footer {
  flex-grow: 0;
  flex-shrink: 0;
}
